<div class="jumbotron text-center contacts">
    <h1>Contacts</h1>
    <a routerLink="/contact/create" class="btn btn-sm btn-info">Create Contact</a>
  </div>
  
  <div class="row" >
    <div class="col-sm-1"></div>
    
    <div class="col-sm-10">
      <table id="sortable" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Count Phone nums</th>
              <th>Create time</th>
              <th>Edit time</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Count Phone nums</th>
              <th>Create time</th>
              <th>Edit time</th>
              <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            <ng-container *ngIf="contacts">
              <tr *ngFor="let contact of contacts">
                <td>{{contact.id}}</td>
                <td>{{contact.first_name}}</td>
                <td>{{contact.last_name}}</td>
                <td>{{contact.phones_count}}</td>
                <td>{{contact.create_time}}</td>
                <td>{{contact.edit_time}}</td>
                <td>
                  <a [routerLink]="['/contact', 'edit', contact.id]">Edit</a>
                  <a (click)=deleteContact(contact.id) class="cursor">Delete</a>
                </td>
              </tr>
            </ng-container>
          </tbody>  
      </table>
    </div>
  
    <div class="col-sm-1"></div>
  
  </div>
  
  <!--
  <script>
    $(document).ready(function() {
      $('#sortable').DataTable();
    });
  </script>
  -->