div.contacts {
    background: url(https://www.oracle.com/assets/contact-feature-2622559.jpg) no-repeat;
}

div.contacts h1 {
    color: #e7e7e7;
}

a.cancel_button {
    float: right;
    margin: 0 2px 0 2px;
}

a.delete_button {
    float: right;
    margin: 0 2px 0 2px;
}


input.phone_number {
    width: 95%;
    float: left;
}

.delete_number {
    width: 5%;
}

.phone_numbers_text {
    width: 85%;
    float: left;
}

/* Phone */
.phone_options {
    float: right;
}

.add_phone_field {
    margin-bottom: 5px;
}

.remove_phone_field {
    margin-bottom: 5px;
}

.save_phone_number {
    margin-bottom: 5px;
}

.add_phone_number {
    width: 100%;
    margin-top: 5px;
}

input.gray {
    background: #eee;
}

/* Phone end */
.line {
    width: 100%;
    border: 1px solid #CCC;
}

