<div class="jumbotron text-center contacts">
  <h1>Edit Contact #{{contact.id}}</h1>
  <a routerLink="/contact" class="btn btn-sm btn-info">Back to all contacts</a>
</div>

<div class="row" *ngIf="contact">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  
  <form (ngSubmit)="updateContact()" [formGroup]="contactForm">
    
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="first_name" [(ngModel)]="contact.first_name" formControlName="first_name">
    </div>  
  
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="last_name" [(ngModel)]="contact.last_name" formControlName="last_name">
    </div>  

    <label class="phone_numbers_text" *ngIf="phone">Phone numbers</label>
    <div class="phone_options">
      <span *ngIf="phone_count > 0" class="add_remove_phone_field">
          <a (click)=addPhone() class="btn btn-success save_phone_number"><i class="fa fa-save"></i></a>
          <a (click)=removePhoneField() class="btn btn-danger remove_phone_field"><i class="fa fa-trash"></i></a>
      </span>    
      <a (click)=addPhoneField() class="btn btn-primary add_phone_field"><i class="fa fa-plus"></i></a>
  </div>

    <!-- This code is used to be cloned -->
    <div class="all_new_phones" >
      <div class="new_phones" style="display:none">
        <input type="text" class="form-control add_phone_number gray" name="add_phone_number">
      </div>
    </div>    

    <hr class="line">
    
    <ng-container *ngIf="phone">
      <div class="form-group phones" *ngFor="let p of phone">
        <input type='text' class="form-control phone_number" name="phone_number" id="{{p.id}}" value="{{p.phone_number}}">
        <a (click)=deletePhone(p.id) class="btn btn-danger delete_number" id="{{p.id}}"><i class="fa fa-trash"></i></a>
      </div>
    </ng-container>


    <!--<div class="form-group">
      <label for="active_checkbox">Active</label>
      <input type="checkbox" [checked]="active" id="active_checkbox"/>
    </div>-->
    
    <!--<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>-->
    <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
  
    <button type="Submit" class="btn btn-success" [disabled]="!contactForm.valid">Update Contact</button>
    <a (click)=deleteContact(contact.id) class="btn btn-danger delete_button">Delete</a>
    <a (click)=cancelEdit() class="btn btn-primary cancel_button">Back</a>

  </form>

</div>    
<div class="col-sm-1"></div>

</div>
