<div class="jumbotron text-center contacts">
    <h1>Create Contact</h1>
    <a routerLink="/contact" class="btn btn-sm btn-info">Back to all contacts</a>
  </div>
  
  <div class="row" *ngIf="contact">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    
    <form (ngSubmit)="createContact()" [formGroup]="contactForm">
      
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="first_name" [(ngModel)]="contact.first_name" formControlName="first_name">
      </div>  
    
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="last_name" [(ngModel)]="contact.last_name" formControlName="last_name">
      </div>  
  
      <!--<div class="form-group">
        <label for="active_checkbox">Active</label>
        <input type="checkbox" [checked]="active" id="active_checkbox"/>
      </div>-->
      
      <!--<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>-->
      <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
    
      <button type="Submit" class="btn btn-success" [disabled]="!contactForm.valid">Create Contact</button>
      <a (click)=cancelAdd() class="btn btn-primary cancel_button">Back</a>
  
    </form>
  
  </div>    
  <div class="col-sm-1"></div>
  
  </div>
  